@twizzadev:registry=https://twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/registry/
always-auth=true
; begin auth token
//twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/registry/:username=twizzadev
//twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/registry/:_password=Y2ZwaG1tbXp1YmZhYjd4NjJzaGVvcXo0aTZ2YnlnbndkbWZ1ZW1oNGtkd2kyenFjcmRnYQ==
//twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/registry/:email=npm requires email to be set but doesn't use the value
//twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/:username=twizzadev
//twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/:_password=Y2ZwaG1tbXp1YmZhYjd4NjJzaGVvcXo0aTZ2YnlnbndkbWZ1ZW1oNGtkd2kyenFjcmRnYQ==
//twizzadev.pkgs.visualstudio.com/Twizza_All/_packaging/Twizza-Internal/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
